node_modules
.pnpm-store
.turbo
.next
out
dist
build
.expo
.expo-shared
.vercel
coverage
*.log
.env
.env.local
.env.*.local
.DS_Store
Thumbs.db
*.tsbuildinfo
apps/mobile/.expo
apps/mobile/.expo-shared
apps/mobile/dist
apps/web/.next
apps/web/out
